@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');

body {
    background: black;
}
.center {
    margin-top: 50px;
    text-align: center;
}

h3 {
    color: #FFFF;
    font-family: 'Baloo 2', cursive;
}
button {
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top-color: #fff;
    animation: spinner2 600ms linear infinite;
    }
    @keyframes spinner2 {
    to {
    transform: rotate(360deg);
    }
    }
    #drag-region{
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }